#include <winres.h>
#pragma code_page(65001)
#include "resource.h"

IDI_APP ICON "upplayer.ico"

IDD_URL DIALOGEX 0, 0, 380, 108
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Open Network Address"
FONT 9, "Segoe UI"
BEGIN
    LTEXT "Address(&A):", -1, 8, 12, 48, 10
    EDITTEXT IDC_URL, 58, 10, 314, 14, ES_AUTOHSCROLL | WS_TABSTOP
    CONTROL "--profile=low-latency", IDC_LOW_LATENCY, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 58, 34, 160, 12
    CONTROL "--untimed", IDC_UNTIMED, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 58, 52, 100, 12
    DEFPUSHBUTTON "OK", IDOK, 260, 84, 50, 14
    PUSHBUTTON "Cancel", IDCANCEL, 316, 84, 50, 14
END

IDC_ACCEL ACCELERATORS
BEGIN
    "O", ID_FILE_OPEN, VIRTKEY, CONTROL
    "U", ID_FILE_OPEN_URL, VIRTKEY, CONTROL
    VK_SPACE, ID_PLAY_PAUSE, VIRTKEY
    VK_LEFT, ID_SEEK_BACK, VIRTKEY
    VK_RIGHT, ID_SEEK_FORWARD, VIRTKEY
    "[", ID_SPEED_DOWN
    "]", ID_SPEED_UP
    0xDB, ID_SPEED_DOWN, VIRTKEY
    0xDD, ID_SPEED_UP, VIRTKEY
    VK_BACK, ID_SPEED_RESET, VIRTKEY
    "1", ID_SIZE_05, VIRTKEY
    "2", ID_SIZE_10, VIRTKEY
    "3", ID_SIZE_15, VIRTKEY
    "4", ID_SIZE_20, VIRTKEY
    "5", ID_FULLSCREEN_NORMAL, VIRTKEY
    "6", ID_FULLSCREEN_STRETCH, VIRTKEY
    VK_NUMPAD1, ID_SIZE_05, VIRTKEY
    VK_NUMPAD2, ID_SIZE_10, VIRTKEY
    VK_NUMPAD3, ID_SIZE_15, VIRTKEY
    VK_NUMPAD4, ID_SIZE_20, VIRTKEY
    VK_NUMPAD5, ID_FULLSCREEN_NORMAL, VIRTKEY
    VK_NUMPAD6, ID_FULLSCREEN_STRETCH, VIRTKEY
    "i", ID_STATS_SHOW
    "I", ID_STATS_TOGGLE
END
